@import "mixins";

.happy-client {
	@include displayFlex($justify: start);
	margin: 117px 69px 92px 107px;
	width: 100vw;
	height: 597px;

	.happy-title {
		width: 100%;
		text-align: center;

		h2 {
			@include stylization($font-size: 40px, $line-height: 49px);
		}

		p {
			@include stylization(
				$font-size: 18px,
				$line-height: 28.8px,
				$color: #757575
			);
			margin-top: 17px;
		}
	}

	.sliders-main-cont {
		@include displayFlex($direction: row, $justify: space-between);
		height: 431px;
		width: 100%;

		.swiper-two {
			margin: 71px 38 0 117px;
			width: 60%;
			height: 389px;
			position: relative;
			&::before {
				content: "";
				background-image: url(../icons/Dot.png);
				position: absolute;
				top: 0px;
				left: 230px;
				width: 196px;
				height: 154px;
				z-index: -1;
			}
			&::after {
				content: "";

				position: absolute;
				width: 120px;
				height: 120px;
				left: 0px;
				bottom: 12px;
				border-radius: 50%;
				border: 8.8px solid #ff007a;
				z-index: -1;
			}

			.swiper-pagination {
				z-index: 1;
				position: absolute;
				left: 90px;
				bottom: 75px;
			}
			.swiper-pagination-bullet {
				width: 16px;
				height: 16px;
			}

			.swiper-wrapper {
				width: 100%;

				.swiper-slide {
					@include displayFlex($direction: row, $align: start);
					width: 100%;

					.swiper-two-img {
						height: 389px;
						width: 389px;
						border-radius: 50% 0 50% 50%;
						margin-top: 42px;
						box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
					}

					.description-slider {
						width: 412px;
						height: 185px;
						margin: 126px 0 120px 67px;

						h2 {
							@include stylization($font-size: 24px, $line-height: 29.66px);
							text-align: left;
							text-wrap: nowrap;
						}
						p {
							@include stylization($line-height: 25.6px, $color: #565656);
							text-align: left;
							margin-top: 21px;
							width: 412px;
						}
					}
				}
			}
		}

		.happy-clients-img {
			width: 28%;
			height: 355px;
			margin: 42px 69px 34px 0;
		}
	}
}
